/**
 *	Applicable to all pages
 */
main.page {
  @include contentSection;

  max-width: $units * 50;

  h2 {
    color: $green;
    margin-left: $units * 4;
    margin-bottom: $units;
    margin-top: $units * 3;

    @include break(min, $break-3) {
      margin-bottom: $units * 2;
      margin-top: $units * 6;
    }


    &:first-of-type {
      margin-top: 0;
    }
  }

  p + h2 {
    @include break(min, $break-3) {
      margin-top: $units * 5;
    }
  }
}

/**
 *	Projects
 */

main.projects {
  max-width: 80rem;
  padding: 0;

  h1,
  h2 {
    color: $green;
  }

  h2 {
    margin: 0;
  }

    * { 
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  }

  dl {
    font-size: 0;
    position: relative;
    width: 500px;
    height: 100%;
    padding-top: 360px;
    white-space: nowrap;
  }

  dl:before {
    content: "Hover a thumbnail";
    position: absolute;
    font: 48px Tahoma;
    display: block;
    top: 150px;
    color: #d8d8d8;
    text-shadow: 1px 1px 3px #666;
    width: 100%;
    text-align: center;
  }

  dt, dd { margin: 0; padding: 0;}
  dl img {  max-width: 100%; }

  dd img {
     border:2px #fff solid;
  }

  dt {
    border: 1px #ccc solid;
    display: inline-block;
    height: 100px;
    width: 25%;
    border:2px #fff solid;
  }

  dt:last-of-type,
  dt:first-of-type { border-color: transparent;}

  dd {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 1s opacity;
  }

  dt:hover + dd,
  dd:target {
    opacity: 1;
  }
}

/**
 *	CV
 */
main.work-experience {
  max-width: 80rem;
  padding: 0;

  h1,
  h2 {
    color: $green;
  }

  h2 {
    margin: 0;
  }
}

/**
 *	Blog posts
 */
main.posts {
  h2 {
    margin: 0;
  }

  p {
    margin: 0;
  }

  article {
    padding: $units 0;
    border-bottom: 4px solid $link;
    margin-bottom: $units * 3;

    &:last-of-type {
      border-bottom: 0;
    }
  }
}

/**
 *	Disqus comment widget
 */
div.comments {
  @include contentSection;

  max-width: $units * 50;
}
